/* Reset Browser */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Intestazione css */
header{
    background-color: white;
    margin-bottom: 45px;


}
/* corpo css */
body {
    background-color:lightgray
}

.img-logo{
    margin: 20px;
    margin-bottom: 5px;
    vertical-align: middle;
}

.text-toboolist{
    font-size: 50px;
    font-family: 'Ubuntu', sans-serif;
    vertical-align: middle;
}

.container-1{
    width: 90%;
    height: 860px;
    background-color: white;
    margin: 0 auto;

    
        
}
.button-1{
height: 30px;
background-color:cornflowerblue;
border-radius: 5px;
color: white;
border-style: solid;




}
.button-2{
    height: 30px;
    background-color:white;
    color: lightgray;
    border-radius: 5px;
   
    
    
}
.list{
    width: 200px;
    height: 300px;
    font-size: large;
    margin-right: 60px;
    padding: 45px;
   
}

h3 {
    font-family: 'Ubuntu', sans-serif;
}
.buttons{
    padding: 45px;
    border-bottom: 1px solid lightgray;
}






















